{% extends 'base.html' %}

{% block content %}

<div class="w-full h-full text-center place-items-center bg-white mt-12 px-6 py-24 sm:py-32 lg:px-8">
    <p class="text-base font-semibold text-indigo-600 mb-2">Redirecting to</p>
    <a class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl underline hover:text-indigo-900"
        href="{{url}}">{{url}}</a>
</div>

{% endblock %}

{% block scripts %}
<script>
    setTimeout(() => {
        window.location.href = "{{url}}";
    }, 3000);
</script>
{% endblock %}